body{
background-size: cover;
}

.heading{
font-size:25px;
width:100%;
margin-bottom:50px;
}

#heading2{
color:black;
}

#h31{
color: white;
}

.input{
width:25%;
}

canvas{
background-color:black;
box-shadow: 5px 5px 5px white;
margin-top:470px;
}